nav li div{

    background-image: url("/images/used/dom1.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 1s ease-in-out;
}

nav li:hover div{

    background-image: url("/images/used/dom.png");

}

.header{

    box-shadow: 0 0 1px 0 rgba(0,0,0,.9),0 20px 30px 0 rgba(0,0,0,.3),0 10px 50px 0 rgba(0,0,0,.2);

}