nav li div{

    background-image: url("/images/used/dom1.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 1s ease-in-out;
}

nav li:hover div{

    background-image: url("/images/used/dom.png");

}

.header{

    box-shadow: 0 0 1px 0 rgba(0,0,0,.1),0 10px 25px 0 rgba(0,0,0,.1),0 10px 40px 0 rgba(0,0,0,.1);
    top: -20%;
    transition: top 0.1s ease-in-out;

}

.header.visible{

    top: 0;

}