nav li div{

    background-image: url("/images/used/dom1.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 1s ease-in-out;
}

nav li:hover div{

    background-image: url("/images/used/dom.png");

}